.container {
  position: relative;
  border: solid 5px;
  border-radius: 0.5em;
  border-color: #999999;
  width: 200px;
  height: 100px;
  margin: auto;
  padding: 1%;
}

.container[data-tallyProgram="true"] {
  border-color: #363636;
}

.container[data-cued="true"] {
  border-color: #fbb03b;
}

.container:hover:not([data-cued="true"]):not([data-tallyProgram="true"]) {
  cursor: pointer;
  background-color: #636363;
}

.container:hover:not([data-cued="true"]):not([data-tallyProgram="true"])
  .fileName::after {
  background-color: #636363;
}

.duration {
  position: absolute;
  background-color: #000000;
  line-height: 1em;
  margin: 0;
  bottom: 4%;
  right: 1%;
  z-index: 0;
  user-select: none;
}

.fileName {
  display: inline-block;
  line-height: 1.3em;
  width: 90%;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 2.6em;
  position: relative;
  text-align: left;
  margin-right: -1em;
  padding-right: -1em;
  /* white-space: nowrap; */
}

.fileName:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}

.fileName:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background-color: #4d4d4d;
}

.fileName:hover + .hovername {
  display: block;
}

.hovername {
  position: absolute;
  width: fit-content;
  line-height: 1.3em;
  top: 20px;
  left: 50px;
  display: none;
  background-color: #797777;
  border-radius: 0.5em;
  border: solid 5px;
  border-color: #999999;
  z-index: 2;
}
